html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    background-color: #aaa;
};

.question {

}

.question--hidden {
display: none;
}

.result {
    padding: 20px;
}

.resultButton {
    padding: 5px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
}