html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    background-color: #aaa;
    
}

.container {
background-color: rgb(230, 210, 33);
width: 500px;
margin: auto;
text-align: center;
border-radius: 20px;
box-shadow: 2px 2px 6px;
}
.question {
color: black;
}

.question--hidden {
display: none;
}

.result {
    padding: 20px;
}

.resultButton {
    padding: 5px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
}